header{
    height: 80px;
    display: flex;
    align-items: center;
    padding-inline: 150px;
    @extend .bg__light-gray;
    max-width: 1440px;
    margin: auto;

    .menu-hamburger{
        display: none;
        cursor: pointer;

        &-container{
                width: 22px;
                height: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span{
                    width: 100%;
                    background-color: $gray_text;
                    height: 1px;
                    display: block;
                    border-radius: 8px;
                }
        }
    }

    .header-mobile-navigation{
        position: fixed;
        z-index: 100;
        top: 0%;
        left: 0;
        background-color: darken($light_gray,5);
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;

        .close-menu-btn{
            float: right;
            cursor: pointer;
            padding: 10px;
            position: absolute;
            right: 5px;
        }

        .nav-list__mobile{
            flex-direction: column;
            gap: 50px;
            padding-block: 40px;
        }

        &-active{
            transform: translateY(0%);
        }
    }

    #header-logo{
        @include flex(center,center);

        &-container{
            background-color: $primary_color;
            width: 51px;
            height: 51px;
            display: grid;
            place-items: center;
            border-radius: 8.5px;
            aspect-ratio: 1/1;
        }


        &-img{
            background-image: url($staticImagesPath + "/svg/logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            @include flex(center,center);
            width: 32.31px;
            height: 25.5px
        }


        span{
            margin-left: 15px;
            font-size: 20px;
            @include playfair-heading(600);
            color: $primary_color;
            display: block;
        }
    }


    #main-nav{
        width: 100%;
        height: 100%;
        @include flex(space-between,center);
        @include inter(400,2%);

        ul{
            @include flex(none,center);
            
            a{
                color: $darken_gray;
                font-size: 14px;

                &.active{
                    font-weight: 600;
                }
            }
        }


        ul.nav-list__left{
            gap: 44px;
             margin-left: 78px;
        }


        ul.nav-list__right{
            gap: 58px;

            li#message-list-item{
                @include flex(center,center);

                #message-logo{
                    background-image: url($staticImagesPath + "/svg/Icon_messagerie.svg");
                    background-repeat: no-repeat;
                    display: block;
                    width: 17px;
                    height: 17px;
                    margin-right: 4px;
                }

                #notif-icon{
                    width: 10.5px;
                    height: 15px;
                    background-color: $darken_gray;
                    border-radius: 16px;
                    margin-left: 2.25px;
                    color: $light_gray;
                    @include inter(700,0%);
                    font-size: 8.25px;
                    display: grid;
                    place-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1445px){
    header{
        padding-inline: 20px;   
    }
}



@media screen and (max-width: map.get($screen,max-tablet)){
    header{
        
        height: 56px;

        #header-logo{

            &-container{
                width: 25.66px;
                height: 25.66px;
                border-radius: 4.28px;
            }

            &-img{
                width: 16.25px;
                height: 12.83px;
            }

            span{
                font-size: 20px;
            }
        }

        #main-nav ul:not(.nav-list__mobile){
            display: none
        }

        .menu-hamburger{
            display: block;
        }

       
    }
}

@media screen and (min-width: map.get($screen,max-tablet)){
    header{
        .header-mobile-navigation{
            display: none;
        }
    }
}