header{
    height: 80px;
    display: flex;
    align-items: center;
    padding-inline: 150px;
    @extend .bg__light-gray;

    #header-logo{
        @include flex(center,center);

        &-container{
            background-color: $primary_color;
            width: 51px;
            height: 51px;
            display: grid;
            place-items: center;
            border-radius: 8.5px;
        }


        &-img{
            background-image: url($staticImagesPath + "/svg/logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            @include flex(center,center);
            width: 32.31px;
            height: 25.5px
        }


        span{
            margin-left: 15px;
            font-size: 20px;
            @include playfair-heading(600);
            color: $primary_color;
            display: block;
        }
    }


    #main-nav{
        width: 100%;
        height: 100%;
        @include flex(space-between,center);
        @include inter(400,2%);

        ul{
            @include flex(none,center);
            
            a{
                color: $darken_gray;
                font-size: 14px;

                &.active{
                    font-weight: 600;
                }
            }
        }


        ul.nav-list__left{
            gap: 44px;
             margin-left: 78px;
        }


        ul.nav-list__right{
            gap: 58px;

            li#message-list-item{
                @include flex(center,center);

                #message-logo{
                    background-image: url($staticImagesPath + "/svg/Icon_messagerie.svg");
                    background-repeat: no-repeat;
                    display: block;
                    width: 17px;
                    height: 17px;
                    margin-right: 4px;
                }

                #notif-icon{
                    width: 10.5px;
                    height: 15px;
                    background-color: $darken_gray;
                    border-radius: 16px;
                    margin-left: 2.25px;
                    color: $light_gray;
                    @include inter(700,0%);
                    font-size: 8.25px;
                    display: grid;
                    place-content: center;
                }
            }
        }
    }
}