@import 'typography';

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
}


html{
    min-height: 100vh;
    background-color:black ;
}


body{
 
    min-height: inherit;
    margin: auto;
    background-color: $background_light;
}

main{
    max-width: 1440px;
    margin: auto;
    min-height: calc(100vh - 144.5px);
}


img{
    object-fit:cover;
    object-position: center;
}