#books{
    padding-inline: 263px;
    padding-bottom: 80px;

    &-heading-container{
        padding-top: 130px;
        padding-bottom: 72px;

        h1{
            @include playfair-heading(400);
            font-size: 36px;
        }

        form{
            width: 322px;
            height: 50px;
            background-color: $white;
            @include flex(flex-start,center);

            input[name=searchValue]{
                border: 1px solid rgba(240, 240, 240, 1);
                height: 70%;
                width: 100%;
                @include inter(400,0);
                font-size: 14px;
                border: none;
                outline: none;
            }

            button[type=submit]{
                appearance: none;
                background-image: url($staticImagesPath + "/svg/search.svg");
                width: 17px;
                height: 17px;
                background-repeat: no-repeat;
                outline: none;
                border: none;
                background-color: transparent;
                margin-left: 12px;
                margin-right: 12.5px;
                cursor: pointer;
            }
        }

        label{
            position: absolute;
            top: -10000px;
        }
    }

    .book-list-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap: 48px;
        
    }
}