#userForm{

    h1{
        margin-bottom: 56px;
    }

    &-container{
        padding-left: 150px;
        display: flex;
        justify-content: space-between;
    }


    &-img-container{
        width: 720px;
        height: 886px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    form{
        margin-top: 130px;

        input{
            background-color: rgba(255, 255, 255, 1);
        }

        button{
            max-width: 100%;
        }
    }

    .switcher-link{
        @include inter(400,0);
        color: $darken_gray;
        margin-top: 32px;
        
        a{
            text-decoration: underline;
            color: $darken_gray;
        }
    }

    .user-error{
        
        p{
            @include inter(400,0);
            font-size: 14px;
            color: red;
        }
        margin-bottom: 20px;
    }

   
}

