#userForm{

    h1{
        margin-bottom: 56px;
    }

    &-container{
        padding-left: 150px;
        display: flex;
        justify-content: space-between;
    }


    &-img-container{
        width: 720px;
        height: 886px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    form{
        margin-top: 130px;

        input{
            background-color: rgba(255, 255, 255, 1);
        }

        button{
            max-width: 100%;
        }
    }

    .switcher-link{
        @include inter(400,0);
        color: $darken_gray;
        margin-top: 32px;
        
        a{
            text-decoration: underline;
            color: $darken_gray;
        }
    }

    .user-error{
        
        p{
            @include inter(400,0);
            font-size: 14px;
            color: red;
        }
        margin-bottom: 20px;
    }

   
}



@media screen and (max-width:1450px){
    #userForm{

        &-container{
            padding-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }

        form{
            align-items: center;
            
            button{
                width: 322px;
            }
            
            padding-bottom: 100px;
        }

        &-img-container{
        width: 50vw;
        height: unset;

            img{
                width: 100%;
                height: 100%;
            }
        }

    }
   
}


@media screen and (max-width: map.get($screen,max-tablet)){

     #userForm{

        h1{
            text-align: center;
        }

        &-container{
            padding-inline: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10%;
        }

        &-img-container{
        width: 50vw;
        height: unset;
        min-width: 377px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

}


@media screen and (max-width: 480px){

     #userForm{
        padding-inline: 20px;

        h1{
            text-align: left;
        }

        &-container{
            padding-left: unset;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-inline: 0px;
            gap: 10%;

            input{
                max-width: 322px;
                width: 322px;
            }
        }

        &-img-container{
            width: 100vw;
            height: unset;
            min-width: 100%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        form{
            padding-inline: 0;
            width: unset;
            align-items: baseline;
        }

        form button{
            width: 100%;
            max-width: 322px;
        }
    }

}