#book-detail{
    height: 863px;
    width: 100%;

    &-container{
        height: inherit;
        @include flex(flex-start,center);
        width: 100%;
    }


    figure,#book-detail-container-image{
        height: inherit;
        width: 720px;
    }

    
    &-info{
        width: 100%;
        height: 100%;
        padding: 59px 150px 80px 85px;

        h1{
            @extend .playfair-display-400;
            font-size: 36px;
            text-transform: capitalize;
            margin-bottom: 16px;
            color: $primary_heading;
        }


        &-author{
            &-container{
                color: $gray_text;
                @extend .inter-400;
            }
            text-transform: capitalize;
        }


        hr{
            width: 27px;
            color:$gray_text;
            margin: 32.5px 0 34px 0; 
        }


        h2,h3{
            @include inter(600,0.8pxr);
            font-size: 8px;
            margin-bottom: 16px;
            color: $darken_gray;
        }


        &-description{
            @include inter(400,0);
            font-size: 14px;
            line-height: 100%;
            color: $darken_gray;
            padding-bottom: 32px;
        }


        &-sold_by{
            
            
            &-container{
                background-color: $white;
                width:fit-content;
                display: flex;
                align-items: center;
                padding: 6px 17px 6px 6px;
                border-radius: 114px;
                position: relative;

                    &::after{
                        content: "";
                        transition: opacity 0.3s ease;
                        width: 48px;
                        height: 48px;
                        background-color: lighten($darken_primary_color,20);
                        z-index: 10;
                        display: block;
                        position: absolute;
                        border-radius: 50%;
                        opacity: 0.1;
                    }   

                &:hover{
                    span{
                        color: lighten($darken_primary_color,20);
                    }

                    &::after{
                        opacity: 0.5;
                    }
                }
            }

            &-pseudo{
                @include inter(400,0);
                font-size: 14px;
                color: $darken_gray;
                padding-left: 6px;
                text-transform:capitalize;
                transition: color 0.3s ease;
            }
        }

        &-cta{
            margin-top: 80px;
            max-width: 485px;
            min-width: 300px;

            @media screen and (max-width: map.get($screen,min-mobile)){
                min-width: 100px;
            }
        }
    }
}




@media screen and (max-width: 1450px){

    #book-detail{
        height: 100%;

        &-container{
            justify-content: space-between;
            align-items: flex-start;
        }

        figure,#book-detail-container-image{
            height: unset;
            width: 50vw;
        }

        &-info{
            width: unset;
            margin-right: 10vw;
        }
    }

}


@media screen and (max-width: map.get($screen,max-tablet)){

    .breadcrumbs{
        padding-left: 20px;
    }

    #book-detail-info{
        padding: 59px 20px 80px 20px;

        &-cta{
            margin-top: 40px;
        }
    }
}



@media screen and (max-width: map.get($screen,max-mobile)){
   
    #book-detail{
        height: unset;
        padding-bottom: 80px;

        &-container{
            width: fit-content;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: auto;
        }

        figure,#book-detail-container-image{
            height: unset;
            width: 375px;
        }

        &-info{
            width: 100%;
            padding: 0;
            margin-right: 0;

            h1{
                font-size: 30px;
                margin-top: 40.52px;
                margin-bottom: 40px;
            }
        }
    }

}



@media screen and (max-width: 420px){
  #book-detail{

        figure,#book-detail-container-image{
            height: unset;
            width: 100%;
        }

        &-info{
            padding-inline: 20px;
        }
  }

}