
#editBook{
    padding: 40px 150px;

    .retour, label{
        font-size: 14px;
        @extend .inter-400;
        color: $gray_text;
    }

    h1{
        margin-top: 23px;
        @extend .playfair-display-400;
        font-size: 26px;
    }

    #form-editBook{
    margin-top: 23px;
    padding: 56px 50px 92px 50px;
    display: flex;
    gap: 118px;
    background-color: $white;
    border-radius: 20px;

        &-left-container{
            margin-top: 10px;
            margin-bottom: 23px;

            .text-right{
                color: $darken_gray;
                text-decoration: underline;
                font-size: 12px;
                cursor: pointer;
            }

            
            label{
                display: block;
            }
        }

        &-right-container{
            width: 100%;
        }

        #book-image{
            margin-top: 10px;
            margin-bottom: 23px;
            width: 488px;
            height: 488px;
            object-fit: cover;
        }

        input,textarea,select{
            width: 435px;
            padding-left: 14px;
            border: 1px solid rgba(240, 240, 240, 1);
            background-color: rgba(237, 242, 246, 1);

            @media screen and (max-width:1200px) {
                width: 100%;
            }
        }

        textarea{
            height:356px;
            margin-bottom: 32px;
            padding: 14px 12px;
            @extend .inter-400;
            line-height: 115%;
        }

        select{
            height: 50px;
        }

        option{
            font-size: 14px;
        }

        .btn-primary{
            margin-top: 44px;
            width: 322px;
        }

        
        .error-input-focus{
                border: 1px solid red;
        }
    }
}

@media screen and (max-width: 1420px){
    #editBook{
        padding: 40px 20px;
        
        .form-input-container{
            width: 100%;
        }
    }

    #form-editBook {
        padding: 56px 0px 92px 0px;
        justify-content: space-around;
    }

}



@media screen and (max-width: 1300px){
    #editBook{
        padding: 40px 20px;

        input{
            width: 100%;
        }
    }

    #editBook #form-editBook {
        padding: 56px 0px 92px 0px;
        gap: 0;
    }

    #editBook #form-editBook #book-image{
        width: 40vw;
    }

}


@media screen and (max-width: map.get($screen,max-tablet)){
    #editBook{
        max-width: 80vw;
        margin: auto;
        padding-bottom: 80px;
    }

    #editBook #form-editBook {
        flex-direction: column;
        padding: 32px 20px 47px 20px
    }

    #editBook #form-editBook .btn-primary {
        width: 100%;
    }

    #editBook #form-editBook #book-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
   
}


@media screen and (max-width: 420px){
  #editBook{
        max-width: unset;

        h1{
            font-size: 30px;
            max-width: 60%;
            margin-top: 7px;
        }

        #book-image-container{
            height: unset;
            width: 100%;
        }

        #form-editBook{
            margin-top: 35px;
        }
        #form-editBook-left-container{
            margin-bottom: 32.25px;

            .text-right{
                font-size: 16px;
            }
        }
  }

  
}


