

#home-hero{
    padding-top: 80px;
    padding-bottom: 101px;

    #home-hero-container{
        gap: 108px;
        justify-content: space-between;
    }


    #hero-left-container{
        @include flex(center,center);
        max-width: 329px;
        flex-direction: column;
        gap: 40px;
        margin-left: 292px;
    }


    #hero-right-container{
        margin-right: 310px;
    }

    #hero-left-text-container{
        gap: 16px;
    }


    h1{
        font-size: 36px;
        line-height: 130%;
        margin-top: 50px;
    }

    p{
        line-height: 120%;
    }

    figcaption{
        text-align: right;
        margin-top: 12px;
    }

    
}

#home-last-books, #home-how-it-works, #home-values{
    padding-top: 80px;
}



#home-last-books, #home-how-it-works{
    h2:not(.book-card-title){
        text-align: center;
        @extend .playfair-display-400;
        font-size: clamp(28px,3vw,32px);
    }

    .btn-container{
        margin-top: 48px;
    }

    .btn-primary,.btn-secondary{
        max-width: 218px;
        text-align: center;
        margin: auto;
    }
}

#home-last-books{
    padding-bottom: 64px;

    h2:not(.book-card-title){
        margin-bottom: 80px;
    }

    & .book-card-title{
        font-size: clamp(13px,2vw,16px);
    }
}

#home-how-it-works{
    padding-bottom: 80px;

    .paragraphe{
        @include inter(300,0);
        text-align:center;
        max-width: 397px;
        margin: 24px auto 40px auto;
        color: $darken_gray
    }

    &-list{
        @include flex(center,center);
        gap: 36px;

        li{
            background-color: $white;
            width: 215px;
            height: 139px;
            @include flex(center,center);
            border-radius: 10px;

            p{
                text-align: center;
                @include inter(400,0);
                font-size: 14px;
                width: 165px;
                height: 51px;
                line-height: 120%;
            }
        }
    }
}


#home-values{
    padding-bottom:  162px;

    &-container{
        width: 392px;
        margin: auto;
    }

    h2{
        text-align: left;
        @extend .playfair-display-400;
        font-size: clamp(28px,3vw,32px);
        margin-bottom: 29px;
    }

    .paragraphe{
        @include inter(300,0);
        color: $darken_gray;
        line-height: 120%;
        font-size: clamp(14px,2.5vw,16px);
    }

    &-salutations-container{
        display: flex;
        justify-content: space-between;
        margin-top: 39px;
        position: relative;

        #heart-img{
            position: absolute;
            right: -10%;
            top: -120%;
        }
    }

    &-salutations-text{
        width: 100%;
        @include inter(400,0);
        font-style: italic;
        font-size: 12px;
        color: $gray_text;
    }
}


@media screen and (max-width: 1445px) {
    #home-hero{

        #home-hero-container{
            gap: 0px;
        }

        #hero-left-container{
            margin-left: 5vw;
        }

        #hero-right-container{
            margin-right: 5vw;
        }
    }
}



@media screen and (max-width: map.get($screen,max-tablet)){
    #home-hero{
        padding-top: 0;
        #home-hero-container{
            gap: 20px;
            flex-direction: column;
        }

        #hero-left-container{
            margin-left: 0px;
            order: 2;

            h1{
                margin-top: 0;
            }
            gap: 30px;
        }

        #hero-right-container{
            margin-right: 0px;
            order: 1;

            img{
                width: 375px;
            }
        }

        .btn-container{
            width: 100%;
            text-align: center;
        }
    }

    #home-last-books{
        ul{
            gap: 50px;
            display: grid;
            grid-template-columns: 200px 200px;
            justify-content: center;
        }
      }

       #home-how-it-works{
            padding-inline: 20px;
        }

        #home-values {
            padding-top: 33px;
        }
}

.home-hor-img img{
    width: 100%;
}


@media screen and (max-width: map.get($screen,max-mobile)){
    #home-hero{
        padding-top: 0;
        padding-bottom: 0;

        #home-hero-container{
            gap: 20px;
            flex-direction: column;
            padding-bottom: 48px;
        }

        #hero-left-container{
            margin-left: 0px;
            order: 2;

            h1{
                margin-top: 0;
                font-size: 30px;
            }
            gap: 30px;
        }

        #hero-right-container{
            margin-right: 0px;
            order: 1;

            img{
                min-width: 0px;
            }
        }

        .btn-container{
            text-align: center;
        }
    }

    #home-last-books{
        padding-top: 48px;
        padding-bottom: 24px;
        
        ul{
            gap: 15.8px;
            grid-template-columns: 160px 160px;
        }

        h2:not(.book-card-title){
            margin-bottom: 34px;
            font-size: 28px;
        }

        .btn-container{
            width: 100%;
            padding-inline: 20px;

            .btn-primary{
                width: 100%;
                max-width: none;
                display: none;
            }
        }
    }

    
    
    #home-how-it-works{
        padding-top: 48px;
        padding-inline: 20px;

        .paragraphe{
            margin: 16px auto 32px auto;
            font-size: clamp(14px,3vw,16px);
        }
    }

    #home-how-it-works-list{
        flex-direction: column;
        li{
            width: 100%;
        }
    }

    #home-values{
        padding-bottom: 32px;
    }

     #home-values-container{
        width: 100%;
        padding-inline: 20px;
    }

    #home-values-salutations-container{
        flex-direction: column;

        #heart-img{
            margin: 62px auto 0 auto;
            position:relative;
            top: 0;
            left: 0;
        }
    }
}



@media screen and (max-width: map.get($screen,min-mobile)){
    #home-hero{
            #hero-right-container{
                img{
                    width: 100%;
                }
            }

            figcaption{
                padding-right: 20px;
            }
        }
    }

    @media screen and (max-width: map.get($screen,max-tablet)){
        #home-how-it-works-list li p{
            width: 100%; 
            height: unset;
            padding-inline: 26px;
        }

    }


    @media screen and (max-width: 355px) {
        #hero-left-container{
            padding-inline: 10px;
        }

        h2{
            padding-inline: 10px;
        }

        #home-last-books ul {
            grid-template-columns: 1fr;

            .book-card{
                margin: auto;
            }
        }
    }
   
   