#messagerie{
    height: 90vh;
    background-color: $light_gray;
    padding-left: 150px;

    .user-img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
    }

    .main-container{
        display: flex;
        height: 100%;

        .chats-box{
            max-width: 308px;
            width: 308px;
            background-color: $background_light;

            h1{
                @extend .playfair-display-400;
                padding-left: 34px;
                padding-top: 55px;
            }
        }

        .chatrooms{
            width: inherit;
            margin-top: 27px;

            li.selected{
                background-color: $white;
            }

            li a{
                display: block;
                padding: 14px 42px 21px 34px;

                &:hover{
                    background-color: $white;
                }
            }
           

            .message-info{
                display: flex;
                @extend .inter-400;

                .user-info{
                    margin-left: 12px;
                    width: 100%;
                }

                .color-dark-grey{
                   color: $darken_gray;
                }

                .user-pseudo{
                    font-size: 14px;
                }

                time{
                    font-size: 12px;
                    float: right;
                }

                .last-message{
                    color: $gray_text;
                    font-size: 12px;
                    margin-top: 7px;
                }
            }
        }
    }


    .message-container{
        padding-left: 44px;
        padding-top: 38px;
        width: 100%;

        .message-user-detail-container a{
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 10px 0;

            .user-pseudo{
                @extend .inter-600;
                font-size: 14px;
                color: $darken_gray;

            }
        }

        .message-input-container{

            form{
                display: flex;
                gap: 21px;
                padding-right: 150px;

                .message-input{
                    width: 100%;

                    input{
                        width: 100%;
                        height: 49px;
                        padding-left: 42px;
                        @extend .inter-400;
                    }
                }

                button{
                    padding: 17px 37px;
                    width: 132px; 
                }
                
            }
        }
    }

    .messages-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 50vh;
        height: 50vh;
        padding-right: 150px;
        padding-bottom: 40px;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .user-message{
        font-size: 12px;
        @extend .inter-400;
        margin-bottom: 29px;
        align-self: flex-end;


        .message-info-container{
            display: flex;
            align-items: center;
        }
        
        img{
            display: none;
        }

        &.second-user-message{
            align-self: flex-start;

            .time{
                text-align: left;
                width: 100%;
            }

            img{
                width: 24px;
                height: 24px;
                display: block;
                margin-right: 6px;
            }
        }

        .time{
            color: $gray_text;
            text-align: right;
            width: 100%;
        }

        .message-content-container{
            background-color: rgba(237, 242, 246, 1);
            padding: 15px;
            max-width: 500px;
            border-radius: 3px;

            p{
                color: $darken_gray;
            }


            &.second-user-message-content{
                background-color: $white;
            }

        }
    }
    
}