#user-profile{
    background-color: $background_light;
    padding: 90px 150px 0px 155px;

    h1{
        text-align: left;
        @media screen and (min-width:480px) and (max-width:map.get($screen,max-tablet)) {
            text-align: center;
        }
    }

    &-flex-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 48px;
        margin-bottom: 48px;

        &.flex-row{
            flex-direction: row;
        }
    }

    &-info-section{
        
        @include flex(space-between,center);
        
        .user-box-container{
            width: 547px;
            @include flex(flex-start,center);
            flex-direction: column;
            background-color: $white;
            height: 508px;
            border-radius: 20px;
            
            &-left{
                padding-top: 48px;

                hr{
                    max-width: 242px;
                    color: $light_gray;
                    margin-block: 48px;
                    opacity: 0.1;
                }
                
            }

            &-left-public{
                width: 341px;
                height: 579px;
                align-self: baseline;
            }
            
            &-right{
                padding-top: 36px;
            }
        }
    }

    &-img-container{
        flex-direction: column;
        @include flex(center,center);
        gap: 5px;

        img{
            width: 135px;
            height: 135px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

        label{
            text-decoration: underline;
            @include inter(400,0);
            color: $gray_text;
            font-size: 14px;
            cursor: pointer;
        }
    }

    &-account-info{
        text-align: center;

        #user-profile-pseudo{
            @extend .playfair-display-400;
            color: $darken_gray;
            font-size: 24px;
        }

        &-createdAt{
            font-size: 14px;
            @extend .inter-400;
            color: $gray_text;
            margin: 11px 0 21px 0;
        }

        &-biblio{
            @include inter(600,0);
            font-size: 8px;
            margin-bottom: 6px;
        }

        &-bookCount{
            @include inter(400,0);
            font-size: 14px;
            color: $darken_gray;
            margin-left: 5.59px;
        }

        .book-draw{
           
            &-container{
                display: flex;
                gap: 2px;
              
            }

            width: 5.20px;
            height: 13.71px;
            border: 1.1px solid black;

            &-right{
                transform: rotate(5deg);
            }
        }
    }

    /**FORM USER INFO*/
    h4{
        @include inter(400,0);
        margin-bottom: 26px;
    }


    #user-books-table{
        background-color: $white;
        padding-top: 33.24px;
        margin-bottom: 102px;
        border-radius: 20px;

        &.no-margin-bottom{
            margin-bottom: 0;
        }

        table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 20px; 
            

            thead{
                th{
                    @include inter(600,8%);
                    font-size: 8px;
                    width: calc(100% / 4);
                    padding-left: 66px;
                    text-align: left;
                }
            }


            tbody{
                border-collapse: separate; border-spacing: 0 20px;

                tr:not(.body-spacing){
                    outline: 1px solid rgba(245, 243, 239, 1);
                    height: 130px;
                    width: 100%;

                    &:nth-of-type(even){
                        background: rgba(237, 242, 246, 1);
                        border: none;
                    }
                }

                td{
                    font-size: 12px;
                    @include inter(400,0);
                    line-height: 120%;
                    width: calc(100% / 4);
                    text-align: left;
                    padding-left: 66px;

                    &.pl-28{
                        padding-left: 28px;
                    }

                    p{
                        font-style: italic;
                    }
                }
            }
        }    

        a{
            color: $darken_gray;
            font-size: 12px;
            @include inter(400,0);
            text-decoration: underline;
        }
            
        .table-form{

            button{
                appearance: none;
                border: none;
                background: transparent;
                color: rgba(203, 45, 45, 1);
                text-decoration: underline;
                @include inter(400,0);
                font-size: 12px;
                cursor: pointer;
                padding-right: 66px;
            }
        }
    }


    tbody .body-spacing td{
        padding: 8px;
        border: none;
    }


    .pt-45{
        margin-top: 45px;
    }

    


    .th-spacing{
        width: 0%;
        padding-left: 66px;
    }

    .edit-spacing{
        width: 1%;
    }

    .p-left{
        padding-left: 50px;
    }

    .desc-spacing{
        padding-left: 2px;
    }

    &.user-profile-public{

        .p-left{
            padding-left: 0px;
        }

        h1{
            position: relative;
            top: -10000px;
        }

        #user-profile-flex-container{
            margin-top: 0;
        }
    }

    .form-base{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    
}

.book-status{
            color: $white;
            @include inter(500,0);
            font-size: 8.88px;
            border-radius: 29.58px;
            padding: 3.7px 13.31px;
            max-width: 71.63px;
            width: 71.63px;

            &__green{
                background-color: rgba(109, 197, 161, 1);
            }

            &__red{
                background-color: rgba(197, 109, 109, 1);
            }
        }


#user-books-mobile-container{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding-bottom: 30px;

            li{
                background-color: $white;
                padding: 52px 57px 37px 56px;
                border-radius: 20px;
                width: clamp(300px, 1vw, 341px);
                margin: auto;
                @extend .inter-400;
                font-size: 14px;
                height: 251px;

                &.book-card-user{
                    padding-bottom: 51px;
                    height: 100%;
                }

                .book-card-user-btns{
                    margin-top: 43px;
                    display: flex;
                    gap: 43px;
                }

                a{
                    color: rgb(41, 41, 41);
                    font-size: 16px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 100%;
                    letter-spacing: 0;
                    text-decoration: underline;
                }

                button{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    background: transparent;
                    color: rgb(203, 45, 45);
                    text-decoration: underline;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 100%;
                    letter-spacing: 0;
                    font-size: 16px;
                    cursor: pointer;
                }
            }

            .book-info-top{
                &-container{
                    display: flex;
                    align-items: center;
                    gap: 18px;
                }

                .book-status{
                    margin-top: 16px;
                    font-size: 8.88px;
                }
            }

            .book-info-top-text{
                display: flex;
                flex-direction: column;
            }

            .book-info-bottom{
                margin-top: 21px;
                p{
                    font-style: italic;
                }
            }
        }
    }




@media screen and (max-width: 1445px){
    #user-profile{
        padding: 58px 20px 0px 20px;
    }

    #user-profile.user-profile-public thead th:not(.th-spacing) {
        width: 100px;
    }

    #user-profile .th-spacing {
        padding-left: 0px;
    }
  
}


            
@media screen and (max-width: map.get($screen,min-tablet)){

   
    #user-profile-flex-container.flex-row {
        flex-direction: column;
    }

    #user-profile-info-section {
        justify-content: center;
        
    }

    #user-books-table{
        display: none;
    }

    #user-profile .form-base {
        flex-direction: column;
        margin: auto;
        min-width: 300px;
        max-width: 350px;
        gap: 32px;

        .user-box-container{
            width: 100%;
            height: 100%;

            &-left{
                padding-bottom: 36px;
            }

            &-right{
                padding: 36px 32px;
            }

            .form-input-container{
                width: 100%;
            }
            .form-input-container input{
                width: 100%;
            }
        }
    }

    #user-books-mobile-container ul li.book-card-user {
        width: 100%;
        max-width: 350px;
        min-width: 300px;
    }

    #user-profile-info-section .user-box-container-left-public {
        height: unset;
        padding-bottom: 36px;
    }
}


.addBook a{
    color: $darken_gray;
    font-size: 14px;
    @include inter(400, 0);
    text-decoration: underline;
}