.book-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
  
    li{
       border: 1px solid transparent; 
    }

    li:hover{
        border: 1px solid rgb(184, 184, 184);
        overflow: hidden;
    }
}

.book-card{
    max-height: 324px;
    height: 324px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    &-title{
        @extend .inter-400;
        color: $primary_heading;
        margin-top: 12px;
        margin-left: 14px;
        font-size: clamp(13px, 1vw,16px);
    }

    &-author{
        font-size: clamp(11px, 1vw,14px);
        @extend .inter-400;
        color: $gray_text;
        margin-left: 14px;
    }

    &-soldby{
        font-size: clamp(8px, 1vw,10px);
        color: $gray_text;
        @extend .inter-400;
        font-style: italic;
        margin-top: 22px;
        margin-left: 14px;
    }

    .flex-col-gap-16{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-white-container{
        background-color: $white;
        height: 100%;
    }

}


