form.form-base{
    display: flex;
    flex-direction: row;

    &-col{
        flex-direction: column;
    }

    button{
        max-width: 150px;
        height: 63px;
    }
}

.form-input-container{

    @include flex(center,flex-start);
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
    width: min-content;

    &::after{
           display: block;
           content: attr(data-error);
           font-size: 12px;
           color: red;
           @include inter(300,0);
           width: 100%;
    }


    label{
        @include inter(400,0);
        font-size: 14px;
        margin-bottom: 10px;
        color: $gray_text;
    }


    input{
        border-radius: 6px;
        width: 322px;
        height: 50px;
        padding-left: 14px;
        font-size: 14px;
        @include inter(400,0);
        color: $darken_gray;


        &.error-input-focus{
            margin-bottom: 5px;
        }
    }


    .form-input__gray{
        background: rgba(237, 242, 246, 1);
    }

    .form-input__gray{
        background: rgba(237, 242, 246, 1);
    }


    .error-input-focus{
        border: 1px solid red;
    }
   
}


form.draft-form{
    text-align: right;

    button{
        appearance: none;
        border:none;
        padding: 5px;
        text-decoration: underline;
        color: rgb(178, 47, 47);
        cursor: pointer;
    }
}