form.form-base{
    display: flex;
    flex-direction: column;

    button{
        max-width: 150px;
        height: 63px;
    }
}

.form-input-container{

    @include flex(center,flex-start);
    flex-direction: column;
    position: relative;

    &::after{
           position: absolute;
           content: attr(data-error);
           bottom: 12px;
           left: 0;
           font-size: 12px;
           color: red;
           @include inter(300,0);
    }


    label{
        @include inter(400,0);
        font-size: 14px;
        margin-bottom: 10px;
        color: $gray_text;
    }


    input{
        border-radius: 6px;
        width: 322px;
        height: 50px;
        padding-left: 14px;
        font-size: 14px;
        @include inter(400,0);
        margin-bottom: 32px;
        color: $darken_gray;
    }


    .form-input__gray{
        background: rgba(237, 242, 246, 1);
    }


    .error-input-focus{
        border: 1px solid red;
    }
   
}