.flex-c-c{
    @include flex(center,center);

    &-col{
        @include flex(center,center);
        flex-direction:column;
    }
}

.t-black{
    color: $primary_heading;
}


.align-self-start{
    align-self: flex-start;
}


.bg__light-gray{
    background-color: $light_gray;
}

.bg__white{
    background-color: $background_light;
}

.flex-sb-c{
    @include flex(space-between,center);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.w-100{
    width: 100%;
}


.self-baseline{
    align-self: baseline;
}

.self-center{
    align-self:center;
}


.text-right{
    text-align: right;
}


.mt-10{
    margin-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}

.text-lg{
    font-size: 20px;
}

.line-h-20{
    line-height: 20px;
}