.flex-c-c{
    @include flex(center,center);

    &-col{
        @include flex(center,center);
        flex-direction:column;
    }
}

.t-black{
    color: $primary_heading;
}


.align-self-start{
    align-self: flex-start;
}


.bg__light-gray{
    background-color: $light_gray;
}

.bg__white{
    background-color: $background_light;
}

.flex-sb-c{
    @include flex(space-between,center);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.w-100{
    width: 100%;
}


.self-baseline{
    align-self: baseline;
}

.self-center{
    align-self:center;
}


.text-right{
    text-align: right;
}


.mt-10{
    margin-top: 10px;
}


.m-20{
    margin: 20px;
}

.pb-10{
    padding-bottom: 10px;
}

.text-lg{
    font-size: 20px;
}

.line-h-20{
    line-height: 20px;
}

.pl-150{
    padding-left: 150px;

    @media screen and (max-width: 1445px){
        padding-left: 20px;
    }
}


.hide-tablet{
    @media screen and (min-width: map.get($screen,min-tablet)){
        display: none;
    }
}

.desktop-only{
    @media screen and (max-width: map.get($screen,max-tablet)){
        display: none;
    }
}

.p-block-10{
    padding-block: 10px;
}



.out-screen{
    opacity: 0;
    position: fixed;
    top: -10000px;
}


.retour {
    font-size: 14px;
    @extend .inter-400;
    color: $gray_text;
}

.block{
    display: block;
}


.p-inline-10{
    padding-inline: 10px;
}

.p-inline-50{
    padding-inline: 50px;
}

.pl-28{
    padding-left: 28px;
}