
//COLORS
$primary_color:rgba(0, 172, 102, 1);
$darken_primary_color:rgba(0, 109, 65, 1);
$darken_gray:rgba(41, 41, 41, 1);
$primary_heading:rgba(0, 0, 0, 1);
$secondary_heading:$darken_gray;
$background_light:rgba(250, 249, 247, 1);
$gray_text:rgba(166, 166, 166, 1);
$white:rgba(255, 255, 255, 1);
$light_gray:rgba(245, 243, 239, 1);


//PATHS

$staticImagesPath: "../../../public/assets/images/statics";


$screen:(
    "min-mobile": 375px,
    "max-mobile": 767px,
    "min-tablet": 768px,
    "max-tablet": 1024px,
    "min-desktop": 1025px
);